@model List<GlovoSoft.Integration.DTO.Usuario>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Avatar</th>
            <th>Perfil</th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null && Model.Count > 0)
        {
            foreach (var user in Model)
            {
                <tr>

                    <td>@user.Id</td>
                    <td>@user.Email</td>
                    <td>@user.first_name</td>
                    <td>@user.last_name</td>
                    <td><img src="@user.Avatar" alt="Avatar" class="img-fluid rounded-circle" style="width:50px;height:50px;" />
                    </td>
                    <td><a href="@Url.Action("ListarUsuario", new { Id = user.Id })" class="btn btn-outline-secondary btn-sm">Ir
                            a
                            Perfil</a></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No se han encontrado usuarios</td>
            </tr>
        }
    </tbody>
</table>


<style>
    .table {
        width: 100%;
        /* Ancho de la tabla al 100% */
        border-collapse: collapse;
        /* Colapsa los bordes de las celdas */
    }

    .table th,
    .table td {
        padding: 8px;
        /* Espaciado interno de las celdas */
        text-align: left;
        /* Alineación del texto a la izquierda */
        border-bottom: 1px solid #ddd;
        /* Borde inferior delgado */
    }

    .table th {
        background-color: #007bff;
        /* Fondo azul para las celdas de encabezado */
        color: #ffffff;
        /* Color del texto en las celdas de encabezado */
    }

    .table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
        /* Fondo gris claro para filas pares */
    }

    .table tbody tr:hover {
        background-color: #f0f0f0;
        /* Cambio de color al pasar el mouse sobre una fila */
    }

    .btn {
        color: #007bff;
        /* Color del texto del botón */
        background-color: transparent;
        /* Fondo transparente */
        border: 1px solid #007bff;
        /* Borde delgado */
        border-radius: 5px;
        /* Bordes redondeados */
        padding: 6px 12px;
        /* Espacio alrededor del texto */
        text-decoration: none;
        /* Quita el subrayado del texto */
        transition: background-color 0.3s ease;
        /* Transición suave */
    }

    .btn:hover {
        background-color: #007bff;
        /* Fondo azul al pasar el mouse */
        color: #ffffff;
        /* Color del texto al pasar el mouse */
    }
</style>